@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,600,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
/* .bitter{
  font-family: 'Bitter', serif;
} */
.login{
  display: flex;
  justify-content: center;
}
.loginForm{
  display: flex;
  justify-content: center;
}
.loginContent{
  margin: 160px 0;
  padding: 30px 50px;
  box-shadow: 3px 5px 10px #d5d5d5;
  background-color: #f2f2f2;
}
.login p{
  font-size: 18px;
  margin: 3px 0;
  text-align: center;
}
.username, .password{
  margin-bottom: 15px;
  padding: 3px;
  border: 0;
  outline: 0;
}
.btn-login{
  margin: 0 auto;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffc107;
}
.btn-login:hover{
  background-color:  rgba(255, 229, 33, 0.7);
}
.none{
  display: none;
}
.block{
  display: block;
}
.sedes-selection{
  padding: 40px 0;
  text-align: center;
}
.sedes-list{
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
}
.sedes-list img{
  margin: 20px 0;
}
.sedes-list button{
  margin: 10px 0;
}
.peru, .mexico, .chile, .brasil{
  display: flex;
  flex-direction: column;
}
header{
  background-color: #f2f2f2;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .logo{
  width: 200px;
  height: 25px;
}
#menu{
  width: 20%;
  position: fixed;
  top: 45px;
  height: 100%;
  float: left;
  font-weight: 700;
  /* background-color: #f2f2f2; */
  background-color: #1d1f29;
}
#menu ul li{
  text-align: center;
}
#menu a{
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
#menu #dash{
  background-color: #ffc107;
  color: #000;
}
#menu a:hover{
  background-color: #ffc107;
  color: #000;
}
#content{
  margin-top: 50px;
  width: 80%;
  float: right;
}
.sedesBtn{
  padding: 30px;
  margin: 30px;
}

/* google translate */
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
#google_translate_element2 {display:none!important;}