@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
  background-image: url("../assets/images/Elegant_Background-15.jpg");
  background-size: cover;
}
.login{
  display: flex;
  justify-content: center;
}
.loginForm{
  display: flex;
  justify-content: center;
}
.loginContent{
  margin: 140px 0;
  padding: 30px 50px;
  box-shadow: 3px 5px 10px #d5d5d5;
  background-color: #f2f2f2;
  text-align: center;
}
.login p{
  font-size: 18px;
  margin: 3px 0;
  text-align: center;
}
.username, .password{
  margin-bottom: 15px;
  padding: 3px;
  border: 0;
  outline: 0;
}
.btn-login{
  margin: 0 auto;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #ffc107;
}
.btn-login:hover{
  background-color:  rgba(255, 229, 33, 0.7);
}
.none{
  display: none;
}
.block{
  display: block;
}
.flex{
  display: flex; 
}
.sedes-selection{
  padding: 40px 140px;
  text-align: center;
  background-color: #f2f2f2;
}
.sedes-list{
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}
.sedes-list img{
  margin: 20px 0;
}
.menu{
  display: flex;
  flex-direction: column;
}
.sedes-list h1{
  margin: 5px 0;
  padding: 10px 0;
  font-weight: 700;
}
.itenList{
  margin: 3px auto;
  padding: 10px;
  background-color: #ffc107;
  border: 0;
  cursor: pointer;
}
.itenList:hover{
  font-weight: 700;
}
#sp-select{
  padding: 10px;
  background-color: #d5d5d5;
  border: 0;
  margin: 5px auto;
}
.peru, .mexico, .chile, .brasil{
  display: flex;
  flex-direction: column;
}
header{
  background-color: #f2f2f2;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .logo{
  width: 200px;
  height: 25px;
}
#menu{
  width: 17%;
  position: fixed;
  top: 45px;
  height: 100%;
  float: left;
  background-color: #f2f2f2;
  /* background-color: #1d1f29; */
}
#menu ul li{
  text-align: center;
}
#menu a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  /* color: #fff; */
  color: #000;
  text-transform: uppercase;
}
#menu span{
  font-size: 30px;
}
#menu #dash{
  background-color: #ffc107;
  color: #000;
  font-weight: 700;
}
#menu a:hover{
  background-color: #ffc107;
  color: #000;
}
#content{
  margin-top: 50px;
  width: 83%;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
.box, .box1{
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: 3px 5px 10px #d5d5d5;
  display: inline-block;
}
.box{
  width: 31%;
}
.box1{
  width: 46%;
}
.box h1, .box1 h1{
  text-transform: uppercase;
  font-size: 16px;
  color: #ffc107;
  margin-bottom: 10px;
}
.info-box{
  background-color: #d5d5d5;
  padding: 10px;
  display: inline-block;
  width: 45%;
  margin: 5px;
}
.info-box p{
  color: #1d1f29;
  font-size: 16px;
  font-weight: 700;
}
.info-box small{
  text-transform: uppercase;
}
.info-label{
  display: block;
}
select{
  border: 0;
  padding: 5px 30px;
  outline-color: #ffc107;
}
/* google translate */
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
#google_translate_element2 {display:none !important;}