@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #f8f8f8;
}
.login{
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/bg1.jpg);
  position: fixed;
  height: 100%;
  width: 100%;
}
.loginForm{
  display: flex;
  justify-content: center;
  max-height: 92%;
}
.loginContent{
  margin: 140px 0;
  padding: 25px 50px;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
  background-color: #ffc107;
  text-align: center;
}
.username, .password{
  margin-bottom: 15px;
  display: block;
  width: 100%;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #f8f8f8;
  background-color: #ffc107;
  margin-bottom: 25px;
  outline: 0;
  font-size: 14px;
}
::placeholder{
  color: #000;
  opacity: 0.6;
}
.btn-login{
  margin: 0 auto;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #f8f8f8;
}
.btn-login:hover{
  font-weight: 700;
}
.none{
  display: none;
}
/* .block{
  display: block;
} */
.flex{
  display: flex; 
  justify-content: space-around;
}
.sedes-selection{
  padding: 40px 140px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.sedes-list{
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}
.sedes-list img{
  margin: 20px 0;
}
.menu{
  display: flex;
  flex-direction: column;
}
.sedes-list h1{
  margin: 5px 0;
  padding: 10px 0;
  font-weight: 700;
}
.itenList{
  margin: 3px auto;
  padding: 10px 20px;
  background-color: #ffc107;
  border: 0;
  cursor: pointer;
}
.itenList:hover{
  font-weight: 700;
}
#sp-select{
  padding: 10px 20px;
  background-color: #d5d5d5;
  border: 0;
  margin: 5px auto;
}
.sedes-list img{
  border-radius: 100%;
}
.peru, .mexico, .chile, .brasil{
  display: flex;
  flex-direction: column;
}
header{
  background-color: #f2f2f2;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .logo{
  width: 200px;
  height: 25px;
}
#menu{
  width: 17%;
  position: fixed;
  top: 45px;
  height: 100%;
  float: left;
  background-color: #f2f2f2;
}
#menu ul li{
  text-align: center;
}
#menu a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}
#menu span{
  font-size: 30px;
}
#menu #dash{
  background-color: #ffc107;
  color: #000;
  font-weight: 700;
}
#menu #logout{
  background-color: #d5d5d5;
}
#menu #logout:hover{
  background-color: #b6b6b6;
}
#menu a:hover{
  background-color: #ffc107;
  color: #000;
}
.content{
  position: relative;
  top: 50px;
  width: 83%;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
#content, #alunas{
  background-image: url("../assets/images/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* #construcao{
  display: none;
  justify-content: center;
}
#construcao img{
  margin: 100px 0;
} */
#alunas{
  display: none;
}
.box, .box1, .box2{
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.box:hover, .box1:hover{
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4); 
}
.box{
  width: 31.5%;
}
.box1{
  width: 48.1%;
}
#alunas .box h1{
  font-size: 22px;
}
#alunas .box p{
  font-weight: 600;
}
.box h1, .box1 h1{
  text-transform: uppercase;
  font-size: 16px;
  color: #ffc107;
  margin-bottom: 10px;
}
.info-box{
  background-color: #d5d5d5;
  padding: 10px;
  display: inline-block;
  width: 45%;
  margin: 5px;
}
.info-box p{
  color: #1d1f29;
  font-size: 16px;
  font-weight: 700;
}
.info-box small{
  text-transform: uppercase;
}
.info-label{
  display: block;
}
/* tooltip */
.tooltip {
  margin-left: 40px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  background-color: #f8f8f8;
  padding: 8px 15px;
  border-radius: 100%;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -115px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: 500;
  font-size: 14px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* google translate */
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
#google_translate_element2 {display:none !important;}
